
#Ignorer les modifications du serveur local:
serveur\

#Et n nvoyer que les modifications sur les fichiers dans www
!serveur\www

#Ainsi que les modifications de la base de donnes SQL:
!serveur\core\mysql\data\sosprema